@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1,
h3 {
  font-family: "Lobster", cursive;
  color: #37505cff;
}
#profile-img {
  width: 400px;
}

#about-page {
  background-color: #ffead0ff;
  height: 90vh;
}

p {
  line-height: 2;
  color: #37505cff;
  font-family: sans-serif;
}
