#contact-page {
  max-width: 1280px;
  margin: 0 auto;
}
#form-btn {
  background-color: #37505cff;
  color: white;
}
.contact-card {
  background-color: bisque;
  box-shadow: -15px 8px 5px -1px rgb(184, 136, 122);
}
#contact-form {
  margin-bottom: 6em;
}
section {
  line-height: 2;
}
#resume-btn {
  background-color: #f76f8eff;
}
#contact-content {
  min-height: 90vh;

  /* box-shadow: -15px 8px 5px -1px rgb(184, 136, 122); */
}
