#hero-container {
  position: relative;
}
#hero {
  background-image: url("../images/protfolio_background.avif");
  background-size: cover;
  height: 100vh;
  filter: blur(2px);
}
#welcome {
  color: white;
  animation: moveIn 3s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 35%;
}
#welcome p {
  color: white;
  font-size: 0.8em;
}

@keyframes moveIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* @media screen and (max-width: 1000px) {
  #welcome {
    left: 15%;
  }
  @keyframes moveIn {
    from {
      left: 0%;
    }
    to {
      left: 15%;
    }
  }
} */
/* @media screen and (max-width: 600px) {
  #welcome {
    left: 2%;
  }
  @keyframes moveIn {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }
  #welcome p {
    font-size: 0.6em;
    line-height: 1;
  }
} */
/* @media screen and (min-width: 1700px) {
  #welcome {
    right: auto;
  }
  @keyframes moveIn {
    from {
      left: 0%;
    }
    to {
      left: 25%;
    }
  }
} */
