.project-card {
  width: 18rem;
  margin: 0 auto;
  background-color: bisque;
  box-shadow: -15px 8px 5px -1px rgb(184, 136, 122);
}
li {
  list-style: none;
}
img {
  width: 15em;
  height: 12em;
}

.no-click {
  pointer-events: none;
}
.social-link {
  background-color: #f76f8eff;
  color: white;
  font-weight: bold;
  box-shadow: -8px 5px 5px -1px rgb(184, 136, 122);
}

a:hover {
  transform: scale(1.1);
}
